.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;    
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .main-div{
    margin: auto;
width: 30%;
padding: 10px;
margin-top: 10%;
  }

  .mat-card {
    width: 260px;
  }

 
  .mat-form-field{
    width:250px !important;
    
 }

 .red-snackbar{
  position: absolute !important;
  top: 54px;
}

.green-snackbar{
  background-color:green;
  color:lightgoldenrodyellow;
  
}

.mat-snack-bar-container {
  margin-top: 50px !important;
  background-color: important rgb(153, 50, 50) !important;
  color:lightgoldenrodyellow !important;
 }