.container-panel{
    width: 90%;
    height: 90%;        
    border: 1px solid rgb(63, 81, 181);
}

   .search-bar{
    background-color:aqua;    
    border-radius: 20px;
    display: flex;
    padding: 10px;    
    width: 80%;
}
.example-form{
    background: #ffffff;
    outline: none;
    border-style: none;    
    font-size: 1.2rem;
    width: 90%;
}
.example-full-width{
    width: 90%;
    margin-left: 10%;
}

.topheader{
    margin: 1%; 
    position: relative;
    float: right; 
    width: 90%;
    border: 1px solid rgb(63, 81, 181);
}
.controlseperator{
    min-width: 20px;
}

.mat-table{     
    position: relative;
    margin-left: 20%;
    
}

.mat-paginator{
    position: relative;
    margin-right: 5%;
}

.mat-header-cell{
min-width: 150px;
max-width: 150px;
padding: 5px;
word-wrap:normal;
color: white;
background-color:rgb(63, 81, 181);
}

.mat-cell{

padding: 5px;
word-wrap:normal;
}