<div class="container-panel">
    <div class="toptoolbar">
       <mat-toolbar color="secondary">
          
            <div class="controlseperator">
  
            </div>       
          <button mat-mini-fab routerLink="/customeradd">
              <mat-icon>print</mat-icon>
          </button>
  <div class="controlseperator">
  
  </div>
          <button mat-mini-fab routerLink="/customeradd">
            <mat-icon>import_export</mat-icon>
        </button> 
        
        <div class="controlseperator">
  
        </div>
          <button mat-mini-fab routerLink="/customeradd">
              <mat-icon>person_add</mat-icon>
          </button>
  
          <div class="controlseperator">
  
          </div>
      </mat-toolbar>    
    </div>  

</div>